*{
    box-sizing: border-box;
}
:root{
    --primary: coral;
    --secondary: darkslateblue;
}
body{
    font-family: 'Lobster', cursive, Arial, Helvetica, sans-serif;
}
#navbar{
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 48px;
}
.navbar-brand{
    font-size: 48px;
}

.card-header{
    background-color: var(--primary);
    color: var(--secondary);
}
.card-body{
    background-color: var(--secondary);
    color: var(--primary);

}
.container{
    margin: 100px auto;
    justify-content: space-evenly;
    display: flex;
}
a{
    color: violet;
}

